node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.snap
web-build/
coverage/
.gitignore
pt-room-app-2.code-workspace
app.config.js

# macOS
.DS_Store

#amplify
amplify/
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig